*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    margin-bottom: 1rem;
}
.sidebar{
    min-height:100vh;
    height: auto;
    width: 18%;
    
    border-right: 2px solid rgba(133, 127, 127, 0.167);
    padding: 1rem;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index:2;
    
    display: flex;
    flex-direction: column;
  
}

.category-title,
.color-title,
.price-title{
    font-size: small;
    margin-bottom: 4px;
}
.categories,
.colors,
.prices{
    display: flex;
    flex-direction: column;
    gap:2px;
    margin: 8px;
}

.radio{
    margin-left: 4px;
    font-size: x-small;
    display: flex;
    gap: 8px;
}

.radio input {
  display: none;
}

.custom-radio{
    display: inline-block;
    height: 16px;
    width: 16px;
    background-color: rgba(129, 129, 129, 0.191);
    border: 2px solid rgba(128, 128, 128, 0.342);
    border-radius: 50%;
}

.radio input:checked + .custom-radio .checkmark {
    background-color: rgba(246, 246, 246, 0.886)
}

.radio input:checked + .custom-radio  {
    background-color: rgba(8, 8, 10, 0.686);
}
.checkmark{
    padding: 4px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
.custom-color-radio{
    display: inline-block;
    height: 16px;
    width: 16px;
    background-color: rgba(100, 100, 100, 0.403);
    border: 2px solid rgba(128, 128, 128, 0.342);
    border-radius: 50%;
}
.radio input:checked + .custom-color-radio{
    border: 2px solid black;
}