*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
* {
  transition: 
    background-color 0.3s ease,
    color 0.25s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

:root {
  --bg-primary: #FFF7ED;
  --bg-secondary: #FFFFFF;
  --bg-elevated: #FFEDD5;

  --text-primary: #431407;
  --text-secondary: #7C2D12;
  --text-muted: #9A3412;

  --scrollbar:#DC2626;
  --scrollbar-track:#f1f5f9;

  --accent-primary: #F97316;
  --accent-secondary: #EA580C;

  --border: #FED7AA;
  --divider: #FFEDD5;

  --hover: #FED7AA;
  --success: #16A34A;
  --error: #DC2626;
  --warning: #F59E0B;

  --shadow: rgba(249, 115, 22, 0.55);
}
.dark {
  /* BACKGROUNDS */
  --bg-primary: #0F172A;
  --bg-secondary: #111827;
  --bg-elevated: #1F2933;

  /* TEXT */
  --text-primary: #E0F2FE;
  --text-secondary: #7DD3FC;
  --text-muted: #38BDF8;


  --scrollbar:#2c2929c7;
  --scrollbar-track:#f1f5f9;

  /* ACCENTS */
  --accent-primary: #22D3EE;
  --accent-secondary: #A78BFA;

  /* BORDERS */
  --border: #1E293B;
  --divider: #0F172A;

  /* STATES */
  --hover: #164E63;
  --success: #22C55E;
  --error: #EF4444;
  --warning: #F59E0B;

  /* SHADOW */
  --shadow: rgba(34, 211, 238, 0.5);
}


::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background:var(--scrollbar);
}
::-webkit-scrollbar {
  width: 4px;
}

#main{
    width: 100%;
    height: auto;
    background: var(--bg-primary); 
    margin-top: -1px;
}

#navbar{
    background: var(--bg-primary);
    backdrop-filter: blur(10px);
    border-bottom: 1.5px solid var(--border);
    display: flex;
    width: 100%;
    background: var(--bg-elevated);
    color: var(--text-primary);
    
    top: 0;
    left: 0;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#logo{
    color: var(--text-primary); 
    font-size: 2.3rem;
    text-shadow: 1px 2px 5px var(--shadow);
    cursor: pointer;
}

#searchbar{
    display: flex;
    width: 25%;
    height: auto;
    
    justify-content: start;
    
    align-items: center;
    gap: 1rem;
    
    padding: 0.6rem 0.8rem 0.6rem 0.8rem ;
    
    background: var(--bg-primary);
    color: var(--text-primary);
    
    border: 2px solid var(--border);
    border-radius: 2.2rem;
    box-shadow: 0px 2px 4px var(--shadow);

    font-size: large;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input{
    display: flex;
    background-color: var(--bg-primary);
    justify-self: center;    
    outline: none;
    border: none;
    color: var(--text-primary);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    font-size: large;
}

input:focus{
    outline: none;
    border: none;
}

#dark-light-mode{
    border:2px solid var(--border);
    width: 5.1112rem;
    border-radius: 2rem;
    margin-right: 20px;
    padding: 8px;
    background: var(--bg-secondary);
    box-shadow: 0px 1px 1px var(--shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}


#inside-circle {
    height: 2rem;
    width: 2rem;
    border: 2px solid var(--border);
    border-radius: 50%;
    background-color: var(--bg-primary);
    box-shadow: 0px 1px 4px var(--shadow);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    transition: transform 0.4s ease, background-color 0.3s ease;
}
#inside-circle img {
    position: absolute;
    height: 18px;
    width: 18px;
    transition: all 0.6s ease;
}

#sun {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

#moon {
    opacity: 0;
    transform: rotate(-90deg) scale(0.5);
}

.dark #sun {
    opacity: 0;
    transform: rotate(90deg) scale(0.5);
}

.dark #moon {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}   

.on {
    transform: translateX(36px);
}


#sidebar{
    width:20%;
    padding: 0.75rem 0.25rem 1rem 1rem;
    top:94px;
    position: fixed;
    z-index: 1;
    height: calc(100vh - 94px);
    overflow: hidden;
}

/*This one is outer container*/

#tags{
    padding-top:12px ;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: auto;
}

#tags::-webkit-scrollbar {
  width: 0px;
}

/* Inside tags this container saperates tags by categories 
    This have 2 childs: 
    1.category-title 
    2.skills-container: This holds skill-cards */

#tag-category{
    margin-bottom: 20px;
}

.category-title {
    color: var(--text-secondary);
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.skill-card{
  
    display: inline-block;  
    margin-top: 4px;
    margin-bottom: 4px;
    background: var(--bg-secondary);
    color: var(--text-secondary);
    
    font-size: xx-small;

    border-radius: 4px;
    
    padding: 4px 8px;
    cursor: pointer;

    box-shadow: 1px 1px 4px var(--shadow);
}

.skill-card:hover{  
    background: var(--hover);
}

#project-library-container{
    color: var(--text-primary);    
    display: flex;
    margin-top: 92px;
    margin-left: 20%;
    padding: 2rem 1rem 1rem 1rem;
}



#project-library{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    row-gap: 1rem;
    column-gap: 1rem;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
    
    
    
    border-radius: 1rem;
    
}
.project:hover {
    transform: scale(1.05);
}

.project:hover .project-image {
    box-shadow: 2px 2px 10px var(--shadow);
}
.project-image{
    border: 2px solid var(--border);
    width: 250px;
    height: 250px;
    position: relative;
    border-radius: 1rem;
}


.project-image img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}



#viewer-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: none;
}

iframe{
    width: 100%;
    height: 100%;
}

#back-button{
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 6px;
    padding: 8px;
    background-color: rgb(171, 210, 154);
    position: fixed;

}


@media (width >= 1450px) {
    #project-library{
        grid-template-columns: repeat(4,1fr);
    }

    .project{
        width: 250px;
        height: 250px;
        
    }

    .project-image img{
        width: 100%; 
        height: 100%;

    }
    .project-description{
        width: 275px;
        line-height: 1.4; 
        min-height: calc(1.4em * 2); 
    }

}

@media (width <= 1000px) {
    #project-library{
        grid-template-columns: repeat(2,1fr);
        padding: 1rem;
    }
    .project-image{
        width: 300px;
        height: 300px;
    }
    .project-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #project-library-container{
        margin-left: 0;
        margin-top: 4rem;
    }
    #sidebar{
        display: none;
    }
}

@media (width <= 765px) {
    #project-library-container{
        margin-left: 0;
        margin-top: 5rem;
    }

    #project-library{
        grid-template-columns: repeat(1,1fr);
    }

    .project-image{
        width: 300px;
        height: 300px;
    }

    .project-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #sidebar{
        display: none;
    }
    
    .project-description{
        width: 325px;
    }
}