*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 4rem;
    
}
.title{
    padding: 0.990rem;
    justify-self: center;
    color: antiquewhite;
    font-size: 3rem;
}

.IncrementBtn,
.DecrementBtn{
    font-size: large;
    background-color: blueviolet;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 50%;
    color: blanchedalmond;
    margin: 2rem;
}