*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    background-color: brown;
    width: 100%;
    min-height: 100vh;
    height: auto;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    color: bisque;
    padding: 1rem;
}

li{
    list-style: none;
}

input{
    padding: 12px;
    border:1px solid thistle;
    border-radius: 24px 0rem 0rem 24px;
}
.submit{
    padding: 12px;
    border:1px solid thistle;
    border-radius: 0px 24px 24px 0px;
}
input:focus{
    outline: 1px dashed salmon;
}

.tasklist{
    padding: 1rem;
}
.todo{
    margin-bottom: 6px;
    padding: 12px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.remove{
    height: 20px;
    width: 20px;
    font-size: xx-small;
    border-radius: 50%;
    border: 1px solid black;
}