@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import "tailwindcss";

@theme {

  --font-sour:"Sour Gummy",sans-serif;
  --font-jolly:"Jolly Lodger",sans-serif;


  /* Backgrounds */
  --color-bg-50: #fffdfa;
  --color-bg-100: #f9f5ef;
  --color-bg-200: #f4eee6;
  --color-bg-300: #ece4da;
  --color-bg-900: #FDFAF5;
  /* Cards */
  --color-card-100: #ffffff;
  --color-card-200: #faf6f0;

  /* Primary Accent */
  --color-primary-100: #ffb26b;
  --color-primary-200: #ff9736;
  --color-primary-300: #ff7a1a;
  --color-primary-400: #f76b07;
  --color-primary-500: #e65f00;
  --color-secondary-500: #FFD8B8; 
  /* Text */
  --color-text-100: #6e5a4b;
  --color-text-200: #4d392c;
  --color-text-300: #2f1f16;

  /* Success */
  --color-success-100: #93c572;
  --color-success-200: #5fa840;

  /* Warning */
  --color-warning-100: #ffb74d;
  --color-warning-200: #ff9800;

  /* Borders */
  --color-border-100: #efe7dc;
  --color-border-200: #e4d8c9;

  /* Shadows */
  --shadow-card: 0 8px 30px rgba(0,0,0,0.06);
  --shadow-hover: 0 12px 40px rgba(0,0,0,0.12);

  /* Radius */
  --radius-card: 24px;
}