*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,#CAF0F8,#a7bfec,#CAF0F8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    max-width: 75vw;    
    height: auto;
    background: #ffffff;
    box-shadow:15px 15px 75px #03045E;
    padding: 1rem;
    border-radius: 1rem;
    border: 4px solid black;
}

#intro-card{
  margin: 0;
  
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#line{
    height:2px;
    width: 50%;
    display: flex;
    justify-self: center;
    background:#325597;
    position: relative;
    margin-bottom: 1rem;
}

#intro-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 1rem;
}

label{
    font-family: system-ui;
    font-size: large;
    font-weight: bold;
}

select{
    padding: 8px;
    background:#03045E;
    color: #ffffff;
    transition: 0.5s;
    border:2px solid black ;
    border-radius: 8px;
}

select:hover {
  background:#325597;
}



#selector{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#genrate-button{
    background-color: #03045E;
    color: #ffffff;
    padding: 8px;
    border-radius: 8px;
}
#regenrate{
    display: flex;
    justify-self: end;
    margin-bottom: 8px;
    background-color: #03045E;
    color: #ffffff;
    padding: 4px;
    border-radius: 8px;
}
#color-card{
    margin: 0;
    display: none;
    
}

#color-content{
    display: flex;
    flex-direction: row;
    gap: 1rem;

    
}   

.colors{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border: 2px solid #03045E;
    border-radius: 16px 16px 0px 0px ;
    
}

span{
    font-size: 16px;
    font-weight: 900;
    color:darkblue;  
}

.card-container{
    display: flex;
    flex-direction: column;
    
}
.color-code{
    margin: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




